<h1>Chat room</h1>
<div>
  <%= @connection_num %>人が接続中
</div>
<div id="messages">
  <%= render @messages %>
</div>
<form>
  <label>Say something:</label><br>
  <input type="text" data-behavior="room_speaker">
</form>
